#gameContainer {
  background-image: url(../assets/Background.png);
  background-repeat: repeat no-repeat;
  background-size: auto 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -9999;
  display: flex;
  & .leftSide {
    position: relative;
    height: 100vh;
    width: 70vh;
    background-image: url(../assets/leftBG.png);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    &  > *{
      position: absolute;
    }
  }
  & .rightSide {
    position: relative;
    height: 100vh;
    width: calc(100vw - 70vh);
  }
}

#turnsContainer {
  left: 2.7vh;
  top: 41vh;

  & .turnBlock {
    width: 12vh;
    height: 2.8vh;
    margin: 1vh;
    border-radius: 1.4vh;
    box-sizing: content-box;
    text-align: center;
    background-color: #adadad;
    font-size: 1.6vh;
    line-height: 2.8vh;
  }

  & .turnBlock-on {
    background-color: #d54444;
    color: white;
  }
}

#scoreContainer {
  width: 34vh;
  height: 14.7vh;
  left: 31vh;
  top: 52.3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#score_barContainer {
  width: 100%;
  height: 2.8vh;
}

#score_barContainer_BG {
  width: 24vh;
  height: 100%;
  border-radius: 1.4vh;
  overflow: hidden;
  background-color: #adadad;
  & > div:first-child {
    border-radius: 0.8vh;
    height: 1.6vh;
    transform: translate(0.6vh, 0.6vh);
  }

  & + div {
    & .scoreDred {
      color: red;
    }
    & .scoreDblue {
      color: blue;
    }
    font-size: 2vh;
    position: absolute;
    width: 10.3vh;
    text-align: center;
    //background-color: red;
    left: 23.4vh;
    transform: translateY(-2.3vh);
  }
}

#charSelect {
  width: 32vh;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;

  & > div {
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    cursor: pointer;
    background-color: #e8eac9;
    &>img{
      width: 5vh;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#charContainer {
  left: 22vh;
  top: 24.5vh;
  width: 20vh;
  height: 18.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vh;

  & > div {
    width: 18vh;
    //height: 2.5vh;
    text-align: center;
  }

  & > img {
    max-width: 19vh;
    max-height: 13vh;
  }
}

#deckContainer {
  left: 44.2vh;
  top: 24.5vh;
  font-size: 2vh;
  width: 20vh;
  height: 18.5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  & > div {
    height: 4vh;
    width: 3vh;
    background-color: whitesmoke;
    border-radius: 0.5vh;
    margin: 3px;
    box-shadow: 2px 2px 2px #1d1212;
    line-height: 4vh;
    text-align: center;
    font-size: 3vh;
  }

  & .cardoff {
    background-color: #adadad;
  }
}

.language-change {
  position: fixed;
  right:4px;
  top: 2px;
  background-color: #9cffd1;
  padding: 0.4vh;
  border-radius: 3px;
  z-index: 10020;
}
