.result--container {
  background-image: url(../assets/results.png);
  position: fixed;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100vh;
  height: 50vh;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);

  &__column{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12vh;
  }
  &__cell {
    font-size: 2vh;
    margin: 2.3vh;
    width: 15vh;
  }
}