#rankingContainer {
  left: 21vh;
  top: 78vh;
  width: 44vh;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rankingRowContainer {
  height: 2.5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#rankingCellContainer {
  width: 9vh;
  background-color: #adadad;
  border-radius: 1vh;
  height: 100%;
  display: flex;
  font-size: 2vh;
  line-height: 3vh;

  & > div {
    flex: 1;
    text-align: center;
    margin-left: 1.5vh;
  }
}

.dIcon {
  margin: 0.6vh;
}