@import "reset.scss";

* {
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Nanum Gothic', sans-serif !important;
}

header {
  position: fixed;
}

h1 {
  font-size: 5vh;
  font-weight: bold;
}

header {
  z-index: 99;
}

#headerText {
  position: fixed;
  z-index: 999;
  right: 0;
}

#homeMain {
  display: flex;
}